.body {
    background-image: url("background_grey.png");
    min-height: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: auto;
}

.body--text {
    background-image: url("background_for_title.png");
    background-size: cover;
    min-height: 30%;
    position: fixed;
    width: 100%;
    height: auto;

    padding-top: 6%;
    padding-bottom: 6%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(20px + 1.0vw);
}

.body--explication {

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    border-radius: 3%;
    background-color: #B8B8B8;
    font-size: calc(10px + 1.0vw);
    text-decoration: overline gray;
    width: 93%;
}
.container {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    background-color: #D6D6D6;

    flex-direction: column;
}
.questions-container
{
    width: 80%;
    height: 100%;
    margin-left:10%;
}
.quest
{
    margin-top: 3%;
    margin-bottom: 6%;
}
.questionTitle
{
    
    background-color: #002F35;
    color:white;
    font-size: calc(20px + 1.0vw);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
}
.correct-answer
{
    list-style:url('checked.png');
    font-size: calc(20px + 1.0vw);
    margin-left:3%;
    margin-top: 1%;
}
.ull
{
    margin-top:0%;
    list-style: none;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 3%;
}
h3{
    margin-bottom: 0;
}
.answer
{
    font-size: calc(20px + 1.0vw);
    margin-left:3%;
    margin-top: 1%;
}