
.body--title {
    font-family: Outfit;
    font-weight: bold;
    background-size: cover;
    min-height: 10%;
    position: fixed;
    width: auto;
    height: auto;

    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: calc(20px + 1.0vw);

    color: #C49C60;
    background-color: #002f358f;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right:4rem;
    border-radius: 10px;
}

.questionAnswers {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.questionAnswers ul label {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 2rem;
    background-color: #bd9d6d;
    border-radius: 10px;
    font-size: 1.5rem;
}