.body {
    background-image: url("background-page.png");
    min-height: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: auto;
}

.body--text {
    background-image: url("blue_band.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    text-align: left;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.body--explication {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    border-radius: 3%;
    background-color: white;
    font-size: 10px;
    text-decoration: overline gray;
}

.body--section--container {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1.5%;
}

.body--text--section {
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight: bold;
    font-size: 10px;
    background-color: #002F35;
    color: white;
}

.body--text--lecture {
    padding-left: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    /* font-weight:lighter; */
    font-size: 10px;
    background-color: white;
    color: black;
}