
.subject-container {
    /* padding-top: 0.5%; */
    display: flex;
    align-items: center;
    /* margin-right: 50px; */
    /* width: fit-content; */
    /* border: 2px solid; */
    border-radius: 1px;
    background-color: white;
    /* height: 1%; */

    margin-top: 6.7%;
    margin-bottom: 6%;
    position: relative;
    /* padding-top: 6.7%; */
}
.subject-container select
{
color: black;
    background-color: white;
    /* border-radius: 20px; */
    height: 100%;
    width: fit-content;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 100px;

    border: none;
    background-image: url('scroll.png');
    background-size: 15px;
    background-position:185px;
    /* background-position-x:190px;
    background-position-y: 12px; */
    
    display: inline-block;
    appearance:none;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance:none;
}
.subject-container select:focus
{
    outline: none;
    border:none;
}


.subject-options
{
    font-size: 22px;
    width: fit-content;
    background-color: white;
}

.subject-container img{
    width: 15px;
    padding-right:10px ;
}

/* @media only screen and (max-width:1000px) {
    .subject-container {
            height: 20%;
            width: fit-content;
    }
    .subject-container select{
        height: 20%;
        width: fit-content;
    }

} */






