.sub {
    background-color: #FFCA77;
    font-size: 1.5vi;
    padding-top: 2%;
    padding-bottom: 2%;
    width: fit-content;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-left: 25%;
}

.sub:hover {
    background-color: #ffdea8;
}