.button--create {
    background-color: #C49C60;

    text-align: center;
    font-size: calc(10px + 0.8vw);
    color: white;

    width: fit-content;

    padding: 1.2vw;
    padding-bottom: 1.0vw;
    padding-left: 2.0vw;
    padding-right: 2.0vw;

    border-radius: 25px;
    border-width: 1px;
    border-color: black;
    font-weight: bold;
}

.button--create:hover {
    background-color: #5a5757;
}