.body {
    background-color: #CFCFCF;
    
}


.body--text {
    background-image: url("background_for_title.png");
    background-size: cover;
    min-height: 30%;
    position: fixed;
    width: 100%;
    height: auto;

    padding-top: 6%;
    padding-bottom: 6%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(22px + 1.0vw);
}

.body--subtitle--container{
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 1%;
    display: flex;
}

.body--subtitle{
    padding-right: 2%;
    font-weight: bold;
    font-size: calc(20px + 1.5vw);
    /* background-image: url("Line.png");
    background-size: cover; */
}


.body--line{
    background-image: url("Line.png");
    margin-left: 7%;
    min-height: 1%;
    position: absolute;
    width: calc(85.0vw);

}

.body--container{
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #CFCFCF;
}

.course-container {
    margin-top: 1.5%;
    margin-right: 7%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    background-color: #002F35;
}

.course-title{
    margin-left: 3.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: calc(10px + 1.2vw);
}

.body--img{
        margin-top: 0.7%;
        margin-right: 2%;
}

.button-position{
    text-align: right;
    justify-content: right;
    padding-right: 7%;
    padding-bottom: 8%;
}