.body {
    background-color: #CFCFCF;
    min-height: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: auto;
}

.body--text {
    background-image: url("background_for_title.png");
    background-size: cover;
    min-height: 30%;
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 6%;
    padding-bottom: 6%;
    position: relative;
    text-align: left;
    justify-content: space-between;

    font-weight: bold;
    font-size: calc(20px + 1.0vw);
}

.body--title {
    margin-left: 5%;
    padding: 0;
}


.body--button {

    margin-right: 5%;
    padding: 0;

}


.body--section {
    position: absolute;
    /* background-size:cover; */
}

.body--subtitle--container {
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
}

.body--subtitle {
    padding-right: 2%;
    font-weight: bold;
    font-size: calc(20px + 1.5vw);
    /* background-image: url("Line.png");
    background-size: cover; */
}

.subject-container {
    margin-left: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* aliniați elementele copil la dreapta containerului */
    width: fit-content;
    border-radius: 1px;
    margin-top: 1%;
    position: relative;
}

.subject-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    width: 0.3%;
    height: auto;

}

.subject-container select {

    color: black;
    background-color: white;
    /* border-radius: 20px; */
    height: fit-content;
    min-height: 100%;
    width: fit-content;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 25%;

    border: 2px solid black;
    /* outer border */
    /* box-shadow: 0 0 0 10px #d0cccc; */
    /* inner border */

    border-radius: 10px;

    display: inline-block;
    appearance: none;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

.subject-container select:focus {
    outline: none;
}


.subject-options {
    font-size: 3.0vh;
    width: fit-content;
    background-color: white;
}

.body--line {
    background-image: url("Line.png");
    margin-left: 7%;
    height: 1.0vh;
    position: absolute;
    width: calc(85.0vw);

}

.table {

    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;

}

.container {
    /* position: absolute; */

    max-height: 100px;
    overflow-y: scroll;

}

table {
    width: calc(80.0vw);
    height: 100px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

th {
    text-align: left;
}

thead th {
    color: white;
    background-color: #005863;
}


tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody div {
    margin: 0;
    padding: 0;
}

tbody div td {
    position: relative;
}

tbody div td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.line--option {

    position: absolute;
    margin: 0;
    margin-top: 10px;
    margin-left: -2.9vw;
    padding: 0;
}

.line--option img {
    width: 8px;
}


.body--img {
    width: 20px;
    margin: 0;
    padding: 0;
    /* margin-left: -2.9vw; */
    margin-top: 10px;
}

@media only screen and (max-width:600px) {

    table {
        width: calc(20.0vw);
    }

    th,
    td {
        font-size: 15px;
    }


    .body--img {

        margin: 0;
        padding: 0;
        margin-left: -4.9vw;
        margin-top: 10px;
    }
}

@media only screen and (max-width:420px) {


    table {
        width: calc(12.0vw);
    }

    th,
    td {
        font-size: 10px;
    }


    .body--img {

        margin: 0;
        padding: 0;
        /* margin-left: -4.9vw; */
        margin-top: 10px;
    }
}

.last--td button{
    margin: 0;
    text-align: center;
    width: 100px;
    font-size: calc(8px + 1vw);
}


.button-start {
    background-color: green;
}

.button-stop {
    background-color: red;
}