.body 
{
    background-color:cre

 
 }

.questionPart{

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right:4rem;
    background-color: #002F35;
    border-radius: 10px;
}

.questionQuery{
    background-color: #C49C60;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
     
}

ul{
    list-style: none;
}

.question {
    font-size: 1.6rem;
 
 }

.choices {
     margin-bottom: 1rem;
}

.choice {
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: #bd9d6d;
    border-radius: 10px;
    font-size: 1.5rem;
}

.choice input[type='radio'] {
    margin-right: 10px;
    font-size: 1.8rem;
  }

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
 }

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #002F35;
    cursor: pointer;
}

.button-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
