Body {
    font-family: Outfit;
}

.headingTitle {
    min-height: 5%;
    width: 100%;
    height: auto;

    padding-top: 0.2em;
    padding-bottom: 0.2em;

    margin-top: 1em;
    text-align: center;
    justify-content: center;

    color: #C49C60;
    background-color: rgba(0, 47, 53, 0.5);
}

.headingTitle h1{
    font-size: 3em;
    font-style: italic;
    color: #efcb94;
}

.questionPart{

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right:4rem;
    background-color: #002F35;
    border-radius: 10px;
}

.questionTitle{
    font-size: 1.8rem;
    background-color: #C49C60;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}



.choices{
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: #bd9d6d;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 1em;
}

.correctAnswers {
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: #45f57d;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 1em;
    font-style: italic;
 }

.incorrectAnswer {
    background-color: #fb2121;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 1em;
    font-style: italic;
}

.yourAnswers {
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 1em;
    color: #C49C60;
    font-style: italic;
    font-weight: bold;
}
.yourScore {
    margin-top: -1rem;
    margin-right: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    padding-left: 1em;
    color: #C49C60;
    font-style: italic;
    font-weight: bold;
}


.messageBox {
    color: #600606;
    background-color:rgba(196, 156, 96, 0.7);

    margin: 4rem;
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 2em;
    border-radius: 7px;
    text-align: center;
    box-shadow: #002F35;
    box-shadow: 10px 10px 13px #600606;

    display: flex;
    justify-content: center;
}

.message{
    font-weight: bold;
}

.but button {
    background-color: #002F35;
    border-radius: 7px;
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    width: fit-content;
    cursor: pointer;
    color: #C49C60;
    margin: 2rem;
    box-shadow: 8px 8px 8px #002F35;
}

.buttonTake {
    display: flex;
    justify-content: center;
}

.selectedAnswer {
    font-weight: bold;
}



@media (max-width:700px)
{
    .but button {
        font-size: calc(10px + 1.5vw);
        width: 15rem;
        padding: 1rem;
        align-items: center;
        margin-left: 0;
    }

    .messageBox {
        font-size: calc(10px + 1.5vw);
    }
}

@media (max-width:400px)
{
    .but button {
        font-size: calc(6px + 1.5vw);
        width: 10rem;
        padding: 1rem;
        text-align: center;
        align-items: center;
        margin-left: 0;
    }



    .messageBox {
        font-size: calc(5px + 1.5vw);
        width: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}