.body {
    margin: 0;
    background-image: url("background-page.png");
    min-height: 100%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.input-file-container {
    display: none;
}

.body--text {
    box-sizing: border-box;
    background: rgba(0,87,98,0.5);
    margin-top: 3%;
    padding: 2% 8%;
    text-align: center;
    font-weight: bold;
    font-size: calc(22px + 1.0vw);
    width: 100%;
}


.body--form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3% 0;
    padding: 1% 5%;
}

.body--drag-file-element{
    margin: 0;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.body--content {
    box-sizing: border-box;
    min-height: 40%;
    width: 70%;
    margin: 0 20% 3%;
    background-color: #c9c9c9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px;
    border-color: rgba(0,87,98,0.5);
    border-width: 4px;
    border-style: dashed;
}

.body--redirect{
    width: fit-content;
    align-self: flex-end;
}

.body--button--publish {
    box-sizing: border-box;
    background-color: rgba(0,87,98);
    margin: 0;
    font-size: calc(10px + 1.0vw);
    padding: 0.5% 0;
    width: calc(45px + 5.0vw);
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    font-weight: bold;
    align-self: flex-end;
    border: solid rgba(0,87,98);
}

.body--button--publish:hover{
    background-color: #5a5757;
}

.body--content-text {
    text-align: center;
    color: rgba(0,87,98);
    font-size: calc(10px + 1.0vw);
}


.body--button--add {
    box-sizing: border-box;
    background-color: rgba(0,87,98);
    border: solid rgba(0,87,98);
    font-size: calc(10px + 1.0vw);
    padding: 0.5% 0;
    width: calc(60px + 5.0vw);
    border-radius: 10px;
    font-weight: bold;
}

.body--button--add:hover {
    background-color: #5a5757;
}

@media only screen and (max-width:790px) {
    .body--button--add{
        margin-top: 50%;
    }
}
