.body-scroll button {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #C49C60;
    background-color: inherit;
    border: none;
    visibility: visible;
    cursor: pointer;
}

.body-scroll button img {
    padding: 0;
    margin: 0;
    width: 80%;
    min-width: 5px;
}

.body-scroll button:hover {
    color: white;
}

.body-scroll button:active {
    visibility: visible;
    color: white;
}

.body-scroll ul li a {
    all: unset;
    border-color: #555;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #002F35;
    font-weight: bold;
    cursor: pointer;
    appearance: none;

}

.body-scroll ul li {
    appearance: none;
    /* margin-top: 5%; */
}

.body-scroll ul li a:hover {
    background-color: #0393a643;
}

.body-scroll ul {
    /* TO DO  */
    margin-top: -4px;
    margin-left: -50px;

    background-color: white;
    ;
    height: fit-content;
    appearance: none;
    text-decoration: none;
    z-index: 10;
    position: absolute;
    list-style: none;
    padding: 20px;
    border-radius: 20px;

}

.edit {
    all: unset;
    border-color: #555;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #002F35;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
}