.Body {
    background-color:beige;
}

.body--container {
    width: 70%;
    flex-wrap: wrap;
    border: 0.063rem solid #C49C60;
    border-radius: 3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin: 8% auto;
    padding: 1.25rem;
    background-color: #C49C60;
    opacity: 75%;
}

.column{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.body--title{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
    font-weight: bold;
    /* font-size: calc(10px + 1.5vw); */
    font-size: 3rem;
    font-style: normal;
    color: #3E3E3E;
    opacity: 100%;
    font-style: italic;
    font-weight: bold;
}

.body--line{
    background-image: url("./Images/line.png");
    min-height: 0.5%;
    margin-top: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 66%;
}

.course-container--header {
    display: flex;
    /* justify-content: space-between; */
    font-style: bold;
    align-items: flex-end;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.code--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 20%;
}

.date--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 35%;
    writing-mode: horizontal-tb;
}

.exam--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 35%;
    writing-mode: horizontal-tb;
}

.score--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 18%;
}

.button--container {
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    inline-size: 30%;
}

.button--container button{
    display: flex;
    flex-wrap: wrap;
    background-color: #002F35;
    border:none;
    border-radius: 5px;
    font-size: calc(8px + 1.0vw);
    cursor: pointer;
    color: #fff;
    box-shadow: 3px 5px 18px #002F35;
    width: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    transition-duration: 0.4s;
}

.course-container {
    margin-top: 3%;
    display: flex;
    align-items: flex-end;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 3%;
}

.course-title{
    font-size: calc(10px + 1.2vw);
    color:#3E3E3E;
    opacity: 100%;
    
}

.course-container button{
    display: flex;
    flex-wrap: wrap;
    background-color: #002F35;
    border:none;
    border-radius: 5px;
    font-size: calc(8px + 1.0vw);
    cursor: pointer;
    color: #fff;
    box-shadow: 3px 5px 18px #002F35;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    transition-duration: 0.4s;
}

.course-container button:hover{
    opacity: 100%;
    background-color:#00191d;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 18px;
  color: #555;
}