@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.body{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.markdown-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-lable, .markdown-label{
    display: flex;  
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: #002F35;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
}

.title-lable, .markdown-label{
    color: #C49C60;
}

.title-input{
    height: 5vh;
    width: 40vw;
    resize: none;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.markdown-textarea{
    height: 50vh;
    width: 40vw;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.preview-label{
    display: flex;  
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    color: #C49C60;
    height: 84%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  

.display-html-area{
    background-color: white;
    flex:1;
    height: 83vh;
    width: 28vw;
    resize: none;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    overflow-x: hidden;
    overflow-y: scroll;
    color: #000000;
}

.display-html-area table{
    border-collapse: collapse;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .display-html-area{
        display: none;
    }
}