.body {
        background-image: url("background_white.png");
        min-height: 100%;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: auto;
    
}

.body--text {
    background-image: url("background_for_title.png");
    background-size: cover;
    min-height: 30%;
    position: fixed;
    width: 100%;
    height: auto;

    padding-top: 6%;
    padding-bottom: 6%;
    position: relative;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(20px + 1.0vw);
}


.body--subtitle{
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 1%;
    font-weight: bold;
    font-size: calc(20px + 1.5vw);
    /* background-image: url("Line.png");
    background-size: cover; */
}

.body--line{
    background-image: url("Line.png");
    margin-left: 7%;
    min-height: 1%;
    position: absolute;
    width: calc(85.0vw);
}

.body--container{
    margin-bottom: 3%;
}

.course-container {
    margin-top: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}

.course-title{
    /* margin-bottom: 3%; */
    margin-left: 10.5%;
    font-size: calc(10px + 1.2vw);
}
.course-edit{
    margin-right: 10%;
    font-size: calc(10px + 1.2vw);
}

.course-edit {
    margin-right: 10%;
    font-size: calc(10px + 1.2vw);
    text-decoration: underline;
}
